/* latihan 1*/
.background{
    background: pink;
}

h1{
    text-align: center;
}

/* latihan 2 */
.box{
    background: aquamarine;
    height: 200px;
    width: 300px;
    margin: 20px;
}

.box-dua{
    background: blue;
    height: 100px;
    width: 600px;
    padding-left: 70px;
}

/* latihan 3 */
.tulisa_satu{
    color:blueviolet;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

.tulisa_dua{
    color:brown;
    font-size: 24px;
    font-style: italic;
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}

.tulisa_tiga{
    color: beige;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}
/* latihan 4 */
.link{
    font-size: 20pt;
}

.link:hover{
    color: green;
}

.link:link{
    color: blue;
}

.link:active{
    color:beige;
}

.link:visited{
    background: yellow;
}

/*latihan 5 */
.tulisan_kiri{
    text-align: left;
}

.tulisan_kanan{
    text-align: right;
}

.tulisan_tengah{
    text-align: center;
}

.tulisan_justify{
    text-align: justify;
}

/* latihan 6 */
.kotak{
    background: blue;
    position: absolute;
    left: 40px;
    padding: 10px;
}

.kotak2{
    background: green;
    position: relative;
    left: 40px;
    padding: 10px;
}

.kotak3{
    background: red;
    position: static;
    left: 40px;
    padding: 10px;
}

.kotak4{
    background: hotpink;
    position: fixed;
    left: 40px;
    padding: 10px;
}

/* latihan 7 */
#garis_1{
    border-style: soild;
}

#garis_2{
    border-style: dotted;
}

#garis_3{
    border-style: dashed;
}

#garis_4{
    border-style: double;
}

#garis_5{
    border-style: groove;
}

#garis_6{
    border-style: inset;
}

#garis_7{
    border-style: outset;
}

#garis_8{
    border-style: ridge;
}

/* latihan 8 */
h1{
    text-align: center;
}

ul.transaportasi{
    list-style-type: square;
}

ul.lokasi{
    list-style-type: circle;
}

ol.merk{
    list-style-type:upper-roman;
}